NEXT_PUBLIC_API_URL=http://localhost:5001
DATABASE_URL=postgresql://idc_admin:innovadataco2026@localhost:5432/innovadataco_001?schema=public
OPENAI_APIKEY=
OLLAMA_BASEURL=http://localhost:11434
ENCRYPTION_KEY=
JWT_SECRET=
ALLOWED_DEV_ORIGIN=
